In [1]:
import numpy as np
import pandas as pd

In [2]:
book = pd.read_csv('data/Books.csv')
rating = pd.read_csv('data/Ratings.csv')
users = pd.read_csv('data/Users.csv')

/tmp/ipykernel_8405/3660972577.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv('data/Books.csv')

In [3]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
print(book.shape)
print(users.shape)
print(rating.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [7]:
book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
print(rating.duplicated().sum())
print(book.duplicated().sum())
print(users.duplicated().sum())

0
0
0

## Popularity based recommendation system

In [9]:
#merging rating and book with ISBN
rating_book = rating.merge(book, on = 'ISBN')

In [10]:
rating_book.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [11]:
rating_book.shape

(1031136, 10)

In [21]:
top_ten_rating_books = rating_book.copy().groupby('Book-Title').count().sort_values('Book-Rating', ascending=False)

In [13]:
top_ten_rating_books.head(10)

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
Wild Animus,2502,2502,2502,2502,2502,2502,2502,2502,2502
The Lovely Bones: A Novel,1295,1295,1295,1295,1295,1295,1295,1295,1295
The Da Vinci Code,898,898,898,898,898,898,898,898,898
A Painted House,838,838,838,838,838,838,838,838,838
The Nanny Diaries: A Novel,828,828,828,828,828,828,828,828,828
Bridget Jones's Diary,815,815,815,815,815,815,815,815,815
The Secret Life of Bees,774,774,774,774,774,774,774,774,774
Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,740,740,740,740,740,740,740,740
The Red Tent (Bestselling Backlist),723,723,723,723,723,723,723,723,723
Angels &amp; Demons,670,670,670,670,670,670,670,670,670

In [22]:
# Ensure the 'Book-Rating' column is numeric
rating_book['Book-Rating'] = pd.to_numeric(rating_book['Book-Rating'], errors='coerce')

# Drop rows with NaN values in 'Book-Rating'
rating_book = rating_book.dropna(subset=['Book-Rating'])

# Now, calculate the mean and sort the top 10 books by rating
average_ten_rating_books = (
    rating_book.groupby('Book-Title')['Book-Rating']
    .mean()
    .sort_values(ascending=False)
)

print(average_ten_rating_books)

Book-Title
Timelock: How Life Got So Hectic and What You Can Do About It    10.0
Timelines of World History                                       10.0
Bathroom Game Book                                               10.0
Rookie Princess (Silhouette Desire, No 483)                      10.0
Roof World                                                       10.0
                                                                 ...
Gary Soto: New and Selected Poems                                 0.0
Gary Snyder: Dimensions of a Life                                 0.0
Gary Nulls Ultimate Anti Aging Program                            0.0
Garzanti - Gli Elefanti: Kriminalbar                              0.0
Gargantua (Aliens Zone , No 4)                                    0.0
Name: Book-Rating, Length: 241071, dtype: float64

In [23]:
popularity_df = top_ten_rating_books.merge(average_ten_rating_books, on='Book-Title')

In [24]:
popularity_df

,User-ID,ISBN,Book-Rating_x,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Book-Rating_y
Book-Title,,,,,,,,,,
Wild Animus,2502,2502,2502,2502,2502,2502,2502,2502,2502,1.019584
The Lovely Bones: A Novel,1295,1295,1295,1295,1295,1295,1295,1295,1295,4.468726
The Da Vinci Code,898,898,898,898,898,898,898,898,898,4.642539
A Painted House,838,838,838,838,838,838,838,838,838,3.231504
The Nanny Diaries: A Novel,828,828,828,828,828,828,828,828,828,3.530193
...,...,...,...,...,...,...,...,...,...,...
waking blood,1,1,1,1,1,1,1,1,1,6.000000
voyage fatal,1,1,1,1,1,1,1,1,1,0.000000
touch the flame,1,1,1,1,1,1,1,1,1,10.000000
Ã?Â?berfall auf hoher See.,1,1,1,1,1,1,1,1,1,7.000000
Ã?Â?berallnie. AusgewÃ?Â¤hlte Gedichte 1928 - 1965.,1,1,1,1,1,1,1,1,1,10.000000